<div
  class="container-fluid "
  style="background-color: rgb(216, 208, 208); margin-top: 20px;"
>
  <div class="row">
    <div class=" col-md-6">
      <h6 class="animate__animated animate__bounceIn" style="animation-duration:2s;"><i>Are you hungry?</i></h6>
      <br />
      <h1 class="animate__animated animate__bounceIn" style="font-size: 40px;animation-duration:2s;"><bold>Don't wait just order!!</bold></h1>
      <button type="button" class="btn text-center h">
        Order Now
      </button>
    </div>
    <div class=" col-md-6 col-md-offset-2 animate__animated animate__fadeInRight" style="animation-duration: 2s; animation-delay: 1s;" >
      <img
        src="img/hero-pizza.png"
       
        style="margin-top: 50px; margin-bottom:50px; height: 500px;"
      />
    </div>
  </div>
</div>
<div class="container " style="margin-top:40px;">
  <h2 class="animate__animated animate__flipInX" style="animation-duration: 1s;animation-delay: 1s;">Order Latest Pizza's</h2><br>
  <div class="row ">
    <% pizzas.forEach(function(pizzas){%>
    <div class="col-md-4  col-sm-offset-1" style="padding: 25px;">
      <div class="animate__animated animate__zoomIn card"  id="card" style="animation-duration: 1s;animation-delay: 1s;">
        <img
          class="wow bounceInUp card-img-top"
          src="img/<%= pizzas.image %>"
          alt="Card image cap"
          style="width: 80%; margin-left: 23px; margin-top: 10px;"
        />
        <div class="card-body">
          <h5 class="card-title"><%= pizzas.name %></h5>
          <span class="he"><%= pizzas.size %></span><br>
          <p class="size">₹<%= pizzas.price %></p>

          <button data-pizzas="<%= JSON.stringify(pizzas) %>" class="btn  add-to-cart text-center" >+Add</button>
          </div>
      </div>
    </div>
    <%})%>
  </div>
</div>
